!!!
%html.no-js{:lang => ""}
  %head  
    // Page title
    %title Hello world! This is Luke's HAML + CSS boilerplate.
    
    
    //Viewport + encoding
    %meta#viewport{:content => "width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1", :name => "viewport"}
    %meta(charset="utf-8")
    %meta{:content => "!", :name => "fragment"}
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}

    //Standard search meta
    %meta(content="" name="description")
    %meta(content="" name="keywords")

    //Google verification
    %meta(name="google-site-verification" content="")
    // Bing verification
    %meta(name="msvalidate.01" content="")
    //Pinterest verification
    %meta(name="p:domain_verify" content="")

    //Favicon + Appletouch Icons
    %link(href="" rel="icon")
    %link(href="" rel="apple-touch-icon")

    //Facebook + Open Graph
    %meta(content="" property = "og:title")
    %meta(content="website" property = "og:type")
    %meta(content="" property = "og:site_name")
    %meta(content="" property = "og:url")
    %meta(content="" property = "og:description")
    %meta(content="" property = "og:image")

    //Twitter Card
    %meta{:content => "summary_large_image", :name => "twitter:card"}
    %meta{:content => "@username", :name => "twitter:site"}
    %meta{:content => "@username", :name => "twitter:creator"}
    %meta{:content => "", :name => "twitter:title"}
    %meta{:content => "", :name => "twitter:image"}
    
    //CSS
    %link{:href => "/css/bass.css", :rel => "stylesheet"}

 
  %body
    %div.container
      %h1.h1-responsive.animated.fadeIn.delay-3s Hello world! This is Luke's HAML + CSS boilerplate. 

      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ego vero isti, inquam, permitto. Sed quod proximum fuit non vidit. Duo Reges: constructio interrete. Mihi enim erit isdem istis fortasse iam utendum. At cum de plurimis eadem dicit, tum certe de maximis. Eam si varietatem diceres, intellegerem, ut etiam non dicente te intellego; Consequens enim est et post oritur, ut dixi. Et non ex maxima parte de tota iudicabis?

      %p Itaque hic ipse iam pridem est reiectus; Videamus animi partes, quarum est conspectus illustrior; Qui ita affectus, beatum esse numquam probabis; Sed quia studebat laudi et dignitati, multum in virtute processerat. Hoc mihi cum tuo fratre convenit. Duae sunt enim res quoque, ne tu verba solum putes. Videamus igitur sententias eorum, tum ad verba redeamus. Intellegi quidem, ut propter aliam quampiam rem, verbi gratia propter voluptatem, nos amemus; An vero displicuit ea, quae tributa est animi virtutibus tanta praestantia? An est aliquid, quod te sua sponte delectet?

      %a.btn.btn-primary.bg-spot.trans-bouncy Helloo

      %new
        %input.field{type:"email", placeholder:"hello@email.com"}

      %div.p2.uber-rounded.bg-orange
    
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery//jquery.min.js"}
    :javascript
      window.jQuery || document.write('<script src="js/vendor/jquery-.min.js"><\/script>')
    %script{:src => "js/plugins.js"}
    %script{:src => "js/main.js"}
    
    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    :javascript
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X','auto');ga('send','pageview');